.w10 {
    position: relative;
    width: 10%;
  }
  
  .w20 {
    position: relative;
    width: 20%;
  }
  
  .w30 {
    position: relative;
    width: 30%;
  }
  
  .w40 {
    position: relative;
    width: 40%;
  }
  
  .w50 {
    position: relative;
    width: 50%;
  }
  
  .w60 {
    position: relative;
    width: 60%;
  }
  
  .w70 {
    position: relative;
    width: 70%;
  }
  
  .w80 {
    position: relative;
    width: 80%;
  }
  
  .w90 {
    position: relative;
    width: 90%;
  }
  
  .w100 {
    position: relative;
    width: 100%;
  }